{% extends '::base.html.twig' %}
{#{% block meta %}#}
    {#{% if content %}#}
        {#<meta name="description" content="{{ content.metaDesc }}"/>#}
        {#<meta name="keywords" content="{{ content.metaKeywords }}"/>#}
    {#{% endif %}#}
{#{% endblock %}#}
{#{% block title %}{% if content %}{{ content.htmlTitle }}{% endif %}{% endblock %}#}
{#{% block menu %}#}
    {#{% render (controller("EshopPackageContentBundle:Default:menu", {'activePageId': content.id, 'isHomePage': true})) %}#}
{#{% endblock %} #}
{% block body %}
    <h1>TEEEST</h1>

    GITHUB
{% endblock %}    
